<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>435067874407-kn3g0vohbslbou5tsat4bnhstu3l8qg4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.435067874407-kn3g0vohbslbou5tsat4bnhstu3l8qg4</string>
	<key>API_KEY</key>
	<string>AIzaSyBWs3-VGF3scNV7eqE3YaihvKcuWDm8dwg</string>
	<key>GCM_SENDER_ID</key>
	<string>435067874407</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ken.TamachiFood</string>
	<key>PROJECT_ID</key>
	<string>tamachifood</string>
	<key>STORAGE_BUCKET</key>
	<string>tamachifood.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:435067874407:ios:905dd5871070a745</string>
	<key>DATABASE_URL</key>
	<string>https://tamachifood.firebaseio.com</string>
</dict>
</plist>